# Flydigi Vader 4 Pro - Hiding Rule
# We restrict the physical device to ROOT ONLY (Mode 0600).
# This prevents Steam (running as user) from seeing the raw "brick" device.
# InputPlumber (running as root service) can still access it to create the virtual controller.

# DInput Mode (Standard) - PID 2414
KERNEL=="hidraw*", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="2414", MODE="0600"

# DInput Mode (Quirk/XInput) - PID 2412
KERNEL=="hidraw*", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="2412", MODE="0600"
