# Flydigi Vader 4 Pro - "Stealth" Hiding Rule
# We restore the /dev/input nodes (needed for Rumble/ff-memless).
# But we strip all tags so Steam and Games ignore it.

# DInput Mode (Standard & Quirk) - PID 2414 & 2412
SUBSYSTEM=="input", ATTRS{idVendor}=="04b4", ATTRS{idProduct}=="2412|2414", \
    ENV{ID_INPUT}:="", \
    ENV{ID_INPUT_JOYSTICK}:="", \
    ENV{ID_INPUT_KEY}:="", \
    ENV{ID_INPUT_KEYBOARD}:="", \
    ENV{ID_INPUT_MOUSE}:="", \
    ENV{LIBINPUT_IGNORE_DEVICE}:="1"