polkit.addRule(function(action, subject) {
    if ((action.id == "org.corectrl.helper.init" ||
         action.id == "org.corectrl.helper1.init") &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
